<template>
  <b-button :disabled="!canBackup" variant="success" @click="backupPosts">
    Backup to file
  </b-button>
</template>

<script>
    export default {
        props: {
            loading: false,
            errored: false
        },
        computed: {
            canBackup() {
                return !this.loading && !this.errored && this.posts.length;
            },
            posts() {
                return this.$store.state.posts;
            },
        },
        methods: {
            async backupPosts() {
                const blob = new Blob([JSON.stringify(this.posts.map(post => ({
                    ...post,
                    active_votes: []
                })))], {type: 'text/plain'});
                const url = window.URL.createObjectURL(blob)
                const link = document.createElement('a')
                link.href = url
                link.setAttribute('download', 'pruner-backup.json') //or any other extension
                document.body.appendChild(link)
                link.click()
            }
        }
    }
</script>
