<template>
  <b-jumbotron bg-variant="danger" text-variant="white" header="Prune your Steem posts" lead="Don't let them exist on a centralized, censored chain.">
    <b-button  v-b-toggle.collapse-1 variant="primary" href="#">What is this tool for?</b-button>
    <b-collapse id="collapse-1" bg-variant="danger" class="mt-2">
      <b-card bg-variant="danger" >
        <p class="card-text" text-variant="black">This tool iterates through all of your posts on Steem blockchain and replaces it's content with a link to the same article on Hive. You need to have Steem Keychain installed. Please take care of your Keychain API endpoint in preferences. It need to be <strong>https:/api.steemit.com</strong>.</p>
        <p class="card-text" text-variant="black">Or maybe you want to fuck Justin Sun?</p>
      </b-card>
    </b-collapse>
  </b-jumbotron>
</template>
