<template>
  <div class="post">
    <div class="post__title">
      <a :href="url" target="_blank">{{ post.title }}</a>
    </div>
    <div v-if="isPruned" class="post__icon">
      <i v-if="!wantedToFuckJuston" class="material-icons md-18 icon-success">done</i>
      <img v-if="wantedToFuckJuston" class="fuck" src="~/assets/img/fuck.gif"/>
    </div>
    <div v-if="!isPruned" class="post__icon">
      <i v-if="!isInProgress" class="material-icons md-18 icon-danger" @click="pruneSingle">delete_forever</i>
      <i v-if="isInProgress" class="material-icons md-18 icon-in-progress">cached</i>
    </div>
  </div>
</template>
<script>
    import { Formatter } from '../services/Formatter';
    import { mapMutations, mapState } from 'vuex';
    import { Keychain } from '../services/Keychain';

    export default {
        props: {
            post: {
                type: Object,
                default: {
                    title: '',
                    permlink: '',
                    parent_permlink: '',
                    author: ''
                }
            }
        },
        computed: {
            url() {
                return `https://steemit.com/@${this.post.author}/${this.post.permlink}`
            },
            isPruned() {
                return Formatter.isAlreadyPruned(this.post);
            },
            wantedToFuckJuston() {
                return Formatter.wantedtoFuckJustin(this.post);
            },
            isInProgress() {
                return this.post.permlink === this.$store.state.inProgress;
            },
            ...mapState([
                'method',
                'frontend',
                'removeContent',
                'addCustomMessage',
                'customMessage'
            ])
        },
        methods: {
            async pruneSingle() {
                try {
                    this.setInProgress(this.post.permlink);
                    const post = Formatter.generatePost(this.post, this.method, this.frontend, this.removeContent, this.addCustomMessage, this.customMessage);
                    await Keychain.prune(post, 1);
                    this.updatePost(post);
                    this.setInProgress(null);
                } catch (e) {
                    this.$toast.error(e.message);
                    this.setInProgress(null);
                }
            },
            ...mapMutations({
                setInProgress: 'setInProgress',
                updatePost: 'updatePost'
            })
        }
    }
</script>

<style>
  .post {
    min-height: 40px;
    padding: 5px;
    background: #f8f9fa;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 3px;
    margin: 6px;
    width: 100%;
  }

  .post__title {
    display: inline-block;
    text-align: left;
    width: 90%;
  }

  .post__icon {
    display: inline-block;
    text-align: right;
    width: 50px;
  }

  .icon-success {
    color: green;
  }

  .icon-danger {
    color: red;
    cursor: pointer;
  }

  .icon-in-progress {
    color: blue;
  }

  .fuck {
    width: 25px;
  }
</style>
