<template>
  <div>
    <div class="md-4">

      <b-form-group>
        <p class="mt-2">Please keep this tab open.</p>
      </b-form-group>
    </div>
    <Post v-for="post in posts" :key="post.permlink" :post="post"/>
  </div>

</template>

<script>
    import Post from './Post';
    import { Formatter } from '../services/Formatter';
    import { mapMutations, mapState } from 'vuex';
    import { Keychain } from '../services/Keychain';

    export default {
        data() {
            return {
                method: null,
                frontend: 'https://hive.blog',
                frontends: [{
                    text: 'https://hive.blog',
                    value: 'https://hive.blog',
                },{
                    text: 'https://peakd.com',
                    value: 'https://peakd.com',
                },{
                    text: 'https://ecency.com',
                    value: 'https://ecency.com',
                }],
                options: [{
                    text: 'Choose...',
                    value: null
                }, {
                    text: 'Insert link to Hive post',
                    value: 'move'
                }, {
                    text: 'I want to fuck Justin Sun',
                    value: 'fuck'
                }]
            }
        },
        watch: {
            method() {
                this.setMethod(this.method);
            },
            frontend() {
                this.setFrontend(this.frontend);
            }
        },
        components: {Post},
        computed: {
            posts() {
                return this.$store.state.posts;
            },
            ...mapState(['ignoreErrors'])
        },
        methods: {
            ...mapMutations({
                setInProgress: 'setInProgress',
                setMethod: 'setMethod',
                updatePost: 'updatePost',
                setFrontend: 'setFrontend'
            })
        }
    }
</script>
