<template>
  <b-button :disabled="!canPrune" @click="prunePosts" variant="danger">
    {{ buttonText }}
  </b-button>
</template>

<script>
    import { mapMutations, mapState } from 'vuex';
    import { Formatter } from '../services/Formatter';
    import { Keychain } from '../services/Keychain';

    export default {
        props: {
            loading: false,
            errored: false,
            apiChecked: false
        },
        computed: {
            canPrune() {
                return this.apiChecked && !this.loading && !this.errored && this.posts.length;
            },
            buttonText () {
                return this.pruning ? 'STOP' : 'PRUNE THIS SHIT'
            },
            ...mapState([
                'posts',
                'ignoreErrors',
                "skipLastPost",
                'numberOfPostsToSkip',
                'method',
                'frontend',
                'pruning',
                'removeContent',
                'customMessage',
                'addCustomMessage'
            ])
        },
        methods: {
            async prunePosts() {
                if(!this.pruning) {
                    this.setPruning(true);
                    try {
                        for (const [i, p] of this.posts.entries()) {
                            if( this.skipLastPost && (i + 1 <= this.numberOfPostsToSkip)) {
                              continue;
                            }
                            if (!Formatter.isAlreadyPruned(p)) {
                                try {
                                    this.setInProgress(p.permlink);
                                    const post = Formatter.generatePost(p, this.method, this.frontend, this.removeContent, this.addCustomMessage, this.customMessage);
                                    await Keychain.prune(post, 2);
                                    this.updatePost(post);
                                    this.setInProgress(null);
                                } catch (e) {
                                    if(e.message === 'Request was canceled by the user.') {
                                        this.setPruning(false);
                                        this.setInProgress(null);
                                        return;
                                    }
                                    console.error(e)
                                    if(!this.ignoreErrors) {
                                        throw e;
                                    }
                                }
                            }
                            if(!this.pruning) {
                                this.setInProgress(null);
                                return;
                            }
                        }
                    } catch (e) {
                        this.$toast.error(e.message);
                        this.setInProgress(null);
                        this.setPruning(false);
                    }
                } else {
                    this.setPruning(false);
                }

            },
            ...mapMutations({
                setInProgress: 'setInProgress',
                setPruning: 'setPruning',
                updatePost: 'updatePost'
            })
        }
    }
</script>
