<template>
  <div class="content">
    <b-row>
      <b-alert variant="danger" show>Make sure you have <strong>https://api.steemit.com</strong> configured as your node
        in Steem
        Keychain. Otherwise you will prune your Hive content. Check your preferences and try with single
        article by clicking the bin icon.
      </b-alert>
    </b-row>
    <b-row>
      <b-col class="col-6">
        <b-form @submit.prevent>
          <b-row>
            <b-form-group label="What would you like to do:">
              <b-form-radio-group
                v-model="method"
                :options="methods"
                buttons
                button-variant="outline-primary"
                name="radios-btn-default"
              ></b-form-radio-group>
            </b-form-group>
          </b-row>
          <b-row>
            <b-form-group label="Your favorite Hive frontend:">
              <b-form-radio-group
                v-model="frontend"
                :options="frontends"
                buttons
                button-variant="outline-primary"
                name="radios-btn-default"
              ></b-form-radio-group>
            </b-form-group>
          </b-row>
          <b-row>
            <b-form-group>

              <b-form-checkbox
                v-model="removeContent"
                stacked="true"
                :disabled="canRemoveContent"
              >
                Remove post content
              </b-form-checkbox>
              <b-form-checkbox
                stacked
                v-model="addCustomMessage"
                :disabled="canRemoveContent"
              >
                Add custom message
              </b-form-checkbox>
            </b-form-group>
          </b-row>
        </b-form>
      </b-col>
      <b-col class="col-6">
        <b-row>
          <b-form-group label="Your Steem username:">
            <b-input-group prepend="@" class="mb-6 mb-sm-2">
              <b-input id="inline-form-input-username" placeholder="username" v-model="username"></b-input>
              <b-button :disabled="isButtonDisabled" class="ml-2" variant="primary" @click="getPosts">
                <b-spinner v-if="loading" small type="grow"></b-spinner>
                {{ buttonText }}
              </b-button>
            </b-input-group>
          </b-form-group>
          <p v-if="errored" class="mt-2 alert-danger">Error occured while loading posts. You may want to try again.</p>
        </b-row>
        <b-row>
          <b-form-checkbox
            id="checkbox-1"
            v-model="apiChecked"
            name="checkbox-1"
            class="checkbox-required"
            required
          >
            I've checked my Steem Keychain node settings
          </b-form-checkbox>

          <b-form-checkbox
            id="checkbox-2"
            v-model="ignoreErrors"
            @input="setIgnoreErrors"
            name="checkbox-2"
          >
            Ignore error and keep pruning
          </b-form-checkbox>
        </b-row>
        <b-row>
          <b-form-group>
            <b-input-group class="mb-6 mb-sm-2">
              <b-form-checkbox
                id="checkbox-3"
                v-model="skipLastPost"
                @input="setSkipLastPost"
                name="checkbox-3"
              >
                Skip last N published posts
              </b-form-checkbox>
            </b-input-group>
            <b-input id="inline-form-input-skip-posts" placeholder="0" v-model="numberOfPostsToSkip" :disabled="!skipLastPost"></b-input>
          </b-form-group>
          <p v-if="errored" class="mt-2 alert-danger">Error occured while loading posts. You may want to try again.</p>
        </b-row>
        <b-row>
          <b-form-group class="mt-3">
            <BackupButton :errored="errored" :loading="loading" />
            <PruneButton :errored="errored" :loading="loading" :apiChecked="apiChecked" />
          </b-form-group>
        </b-row>
      </b-col>
    </b-row>
    <b-row v-if="addCustomMessage">
      <b-col class="col-12">
        <b-form-textarea
          :disabled="canRemoveContent"
          v-model="customMessage"
          placeholder="Write something..."
          rows="3"
          max-rows="6"
        ></b-form-textarea>
      </b-col>
    </b-row>
    <b-progress :value="progress" variant="danger" striped :animated="pruning" class="mt-2"></b-progress>
    <div class="posts-info">
      <p class="mt-2">Found posts: <span>{{ posts.length }}</span>, pruned: <span class="alert-danger">{{ countPruned }}</span></p>
    </div>
  </div>
</template>

<script>
    import { mapMutations } from 'vuex';
    import { Formatter } from '../services/Formatter';
    import { Steem } from '../services/Steem';
    import BackupButton from './BackupButton.vue'
    import PruneButton from './PruneButton';

    export default {
        components: {
          BackupButton, PruneButton
        },
        data() {
            return {
                loading: false,
                errored: false,
                frontends: [
                    {value: 'https://peakd.com', text: 'peakd.com'},
                    {value: 'https://hive.blog', text: 'hive.blog'},
                    {value: 'https://ecency.com', text: 'ecency.com'}
                ],
                methods: [
                    {value: 'move', text: 'Insert Hive link'},
                    {value: 'fuck', text: 'Fuck Justin Sun'}
                ]
            }
        },
        computed: {
            canRemoveContent () {
              return this.method !== 'move';
            },
            ignoreErrors: {
                set (value) {
                    this.setIgnoreErrors(value)
                },
                get() {
                    return this.$store.state.ignoreErrors;
                }
            },
            skipLastPost: {
              set (value) {
                this.setSkipLastPost(value)
              },
              get() {
                return this.$store.state.skipLastPost;
              }
            },
            frontend: {
                set (value) {
                    this.setFrontend(value)
                },
                get() {
                    return this.$store.state.frontend;
                }
            },
            username: {
                set (value) {
                    this.setUsername(value)
                },
                get() {
                    return this.$store.state.username;
                }
            },
            numberOfPostsToSkip: {
              set (value) {
                this.setNumberOfPostsToSkip(value)
              },
              get () {
                return this.$store.state.numberOfPostsToSkip
              }
            },
            method: {
                set (value) {
                    this.setMethod(value)
                },
                get() {
                    return this.$store.state.method;
                }
            },
            apiChecked: {
                set (value) {
                    this.setApiChecked(value)
                },
                get() {
                    return this.$store.state.apiChecked;
                }
            },
            removeContent: {
                set (value) {
                    this.setRemoveContent(value)
                },
                get() {
                    return this.$store.state.removeContent;
                }
            },
            addCustomMessage: {
                set (value) {
                    this.setAddCustomMessage(value)
                },
                get() {
                    return this.$store.state.addCustomMessage;
                }
            },
            customMessage: {
                set (value) {
                    this.setCustomMessage(value)
                },
                get() {
                    return this.$store.state.customMessage;
                }
            },
            pruning () {
              return this.$store.state.pruning;
            },
            buttonText() {
                return this.loading ? 'Loading...' : 'Load Steem posts'
            },
            isButtonDisabled() {
                return this.username.length < 3;
            },
            posts() {
                return this.$store.state.posts;
            },
            countPruned() {
                return this.$store.state.posts.reduce(
                    (count, post) => Formatter.isAlreadyPruned(post) ? count + 1 : count, 0)
            },
            canPrune() {
                return this.apiChecked && !this.loading && this.posts.length;
            },
            progress() {
                return Math.ceil(this.countPruned / this.posts.length * 100);
            }
        },
        methods: {
            async getPosts() {
                if (!this.loading) {

                    this.loading = true
                    this.errored = false;

                    try {
                        this.clearPosts();
                        await Steem.getPosts(this.username, this.addPosts)
                        this.loading = false;
                    } catch (e) {
                        this.loading = false;
                        this.errored = true;
                        this.$toast.error(e);
                    }
                }
            },
            ...mapMutations({
                addPosts: 'addPosts',
                clearPosts: 'clearPosts',
                setIgnoreErrors: 'setIgnoreErrors',
                setSkipLastPost: 'setSkipLastPost',
                setNumberOfPostsToSkip: 'setNumberOfPostsToSkip',
                setFrontend: 'setFrontend',
                setMethod: 'setMethod',
                setUsername: 'setUsername',
                setApiChecked: 'setApiChecked',
                setRemoveContent: 'setRemoveContent',
                setAddCustomMessage: 'setAddCustomMessage',
                setCustomMessage: 'setCustomMessage'
            })
        }
    }
</script>
<style type="text/css">
  .btn-get {
    /*margin-top: 15px;*/
  }

  .info {
    padding: 10px;
    height: 100%;
  }

  .content {
    text-align: left;
  }

  .checkbox-required {
    color: red;
  }

  .posts-info {
    align-content: center;
    text-align: center;
  }
</style>
