<template>
  <div class="container">
    <div>
      <h2 class="subtitle mt-2 ">

      </h2>
      <Header/>
      <p>Read about this tool: <a target="_blank"
                                  href="https://peakd.com/@engrave/steem-pruner-quick-way-to-remove-posts-from-steem-the-censored-blockchain">Why
        is this important? </a></p>
      <Username/>
      <Posts/>
    </div>
    <footer>
      powered by <a href="https://peakd.com/@engrave" target="_blank">@engrave</a>
    </footer>
  </div>
</template>

<script>
    import Username from '~/components/Username.vue'
    import Posts from '../components/Posts';
    import Header from '../components/Header';

    export default {
        components: {
            Posts,
            Username,
            Header
        }
    }
</script>

<style>
  .container {
    margin: 0 auto;
    min-height: 100vh;
    min-width: 900px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .title {
    font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: #35495e;
    letter-spacing: 1px;
  }

  .subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
  }

  .links {
    padding-top: 15px;
  }
</style>
